# Dependencies
node_modules/
.pnp/
.pnp.js

# Production build
dist/
build/

# Development
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Cache
.cache/
.temp/

# ESLint
.eslintcache 

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraformrc
terraform/terraform.rc
terraform/crash.log
terraform/crash.*.log
terraform/.terraform.lock.hcl
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/.terraform.d/ 

public/textures/